<section
	class="block block--black block--parallel block-footer--parallel block-footer">
	<footer>
		<div class="grid footer__grid">
			<div class="collapsible collapsible--expand">
				<header class="collapsible__header">
					<h2 class="collapsible__title">Product</h2>
					<svg class="icon icon--white collapsible__icon">
						<use xlink:href="images/sprite.svg#chevron"></use>
					</svg>
				</header>
				<main>
					<div class="collapsible__content">
						<ul class="list">
							<li class="list__item">Item 1</li>
							<li class="list__item">Item 2</li>
							<li class="list__item">Item 3</li>
						</ul>
					</div>
				</main>
			</div>
			<div class="collapsible collapsible--expand">
				<header class="collapsible__header">
					<h2 class="collapsible__title">Company</h2>
					<svg class="icon icon--white collapsible__icon">
						<use xlink:href="images/sprite.svg#chevron"></use>
					</svg>
				</header>
				<main>
					<div class="collapsible__content">
						<ul class="list">
							<li class="list__item">Item 1</li>
							<li class="list__item">Item 2</li>
							<li class="list__item">Item 3</li>
						</ul>
					</div>
				</main>
			</div>
			<div class="collapsible collapsible--expand">
				<header class="collapsible__header">
					<h2 class="collapsible__title">Support</h2>
					<svg class="icon icon--white collapsible__icon">
						<use xlink:href="images/sprite.svg#chevron"></use>
					</svg>
				</header>
				<main>
					<div class="collapsible__content">
						<ul class="list">
							<li class="list__item">Item 1</li>
							<li class="list__item">Item 2</li>
							<li class="list__item">Item 3</li>
						</ul>
					</div>
				</main>
			</div>
			<div class="collapsible collapsible--expand">
				<header class="collapsible__header">
					<h2 class="collapsible__title">Domains</h2>
					<svg class="icon icon--white collapsible__icon">
						<use xlink:href="images/sprite.svg#chevron"></use>
					</svg>
				</header>
				<main>
					<div class="collapsible__content">
						<ul class="list">
							<li class="list__item">Item 1</li>
							<li class="list__item">Item 2</li>
							<li class="list__item">Item 3</li>
						</ul>
					</div>
				</main>
			</div>
			<a class="footer-logo-container" href="/">
				<img class="footer__logo" src="images/logo.png" alt="" />
				<p class="copy-right">Copyright &copy; 2020 Mosh</p>
			</a>
		</div>
	</footer>
</section>
<script src="js/main.js"></script>
