<section class="domain block container">
	<header class="block__header">
		<h2 class="block__title">The best webhosting starting at per month</h2>
		<p class="block__content">
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem commodi
			quasi nobis repellendus eius distinctio voluptatibus at quisquam! Eaque,
			dignissimos?
		</p>
	</header>
	<div class="input-group">
		<input type="text" class="input" placeholder="Enter Domain Here..." />
		<button class="btn btn--accent">
			<svg class="icon icon--white">
				<use xlink:href="images/sprite.svg#search"></use>
			</svg>
			Search
		</button>
	</div>
	<div class="domain__option">
		<span class="badge badge--primary">.com 9$</span>
		<span class="badge badge--primary">.sg 10$</span>
		<span class="badge badge--primary">.space 11$</span>
		<span class="badge badge--primary">.info 14$</span>
		<span class="badge badge--primary">.net 10$</span>
		<span class="badge badge--primary">.xyz 10$</span>
	</div>
</section>
