<section
	class="showcase block block--black block--trapezoid showcase--trapezoid">
	<header class="block__header container">
		<h2 class="block__title">User-Friendly Control Panel</h2>
	</header>
	<div class="grid grid--1x2 container showcase__grid">
		<div class="showcase__content-image">
			<div class="showcase-image__container">
				<picture class="showcase__picture">
					<source
						srcset="images/ipad@1x.webp 1x, images/ipad@2x.webp 2x"
						type="image/webp" />
					<img src="images/ipad.png" alt="" />
				</picture>
			</div>
		</div>
		<div class="showcase__content">
			<div class="media">
				<div class="media__image">
					<svg class="icon icon--primary">
						<use xlink:href="images/sprite.svg#snap"></use>
					</svg>
				</div>
				<div class="media__body">
					<h3 class="media__title">Easy Start & Managed Update</h3>
					<p>
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut sunt
						culpa voluptatem facere magni sequi eveniet, cumque voluptatum
						molestiae ea.
					</p>
				</div>
			</div>
			<div class="media">
				<div class="media__image">
					<svg class="icon icon--primary">
						<use xlink:href="images/sprite.svg#growth"></use>
					</svg>
				</div>
				<div class="media__body">
					<h3 class="media__title">Staging, Git & WP-CLI</h3>
					<p>
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut sunt
						culpa voluptatem facere magni sequi eveniet, cumque voluptatum
						molestiae ea.
					</p>
				</div>
			</div>
			<div class="media">
				<div class="media__image">
					<svg class="icon icon--primary">
						<use xlink:href="images/sprite.svg#wordpress"></use>
					</svg>
				</div>
				<div class="media__body">
					<h3 class="media__title">Dynamic Caching & More</h3>
					<p>
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut sunt
						culpa voluptatem facere magni sequi eveniet, cumque voluptatum
						molestiae ea.
					</p>
				</div>
			</div>
		</div>
	</div>
</section>
